<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link rel='stylesheet' href='css/main.css'/>
    <script src="js/check.js"></script>
</head>

<body>
    
    {{{body}}}

</body>

</html>