<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
<h1 class="my-0 mr-md-auto font-weight-normal">Stevens Marketplace</h1>
 <br>
</div>

<h2 class="my-0 mr-md-auto font-weight-normal">Add the product you want to sell.</h2>
<br>
<br>
<br>
<form method="POST" action="/newListing" id = "static-form" enctype="multipart/form-data">
  <label for="name">Product Name:</label>
  <input type="text" id="name" name="name"><br><br>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description"><br><br>

  <label for="price">Price:</label>
  <input type="number" id="price" name="price"><br><br>


  <label for="picture">Pic:</label>
  <input type="file" name = "picture" id="picture" accept = 'image/*' onchange = 'openFile(event)' class="picture"><br><br>


  <img id='output' name = "output" alt="No image"><br><br>

  <input type="submit" value="Post" id = "myFormSubmit">
  <div class="text-center">
            <p>Home page? <a href="/stevensMarketPlace">Goback</a></p>
          </div>
  
</form>
<p id = "message" class = {{class}}>{{message}}</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "../../public/js/newListing.js "></script>