<div class="jumbotron">
  <h1 class="display-4">Hello {{user.account}}</h1>
  <p class="lead">You have this in your cart: </p>
<ol>
<li><img src="/images/{{item.photos.[0]}}" class="img-fluid" style="height:10rem;"/> </li>
<p>{{item.description}}</p>
<p> Price of the item: ${{item.price}}</p>
</ol>
</div>
