<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="container-fluid col-md-6 mt-3">

        <h1 class="row d-flex justify-content-center">Set New Password</h1>

        <form action="/user/forgetPassword" method="POST" id="forgetPasswordForm" class="needs-validation" novalidate>
          <div id="accountDiv" class="form-outline mb-4">
            <input type="text" name="account" id="accountInput" class="form-control" required />
            <label class="form-label" id="accountLabel">account</label>
            <div id="accountErrorDiv" class="invalid-feedback"></div>
          </div>

          <div id="passwordDiv" class="form-outline mb-4">
            <input type="password" name="password" id="passwordInput" class="form-control" />
            <label class="form-label" id="passwordLabel">password</label>
            <div id="passwordErrorDiv" class="invalid-feedback"></div>
          </div>

          <div id="passwordConfirmDiv" class="form-outline mb-4">
            <input type="password" name="passwordConfirm" id="passwordConfirmInput" class="form-control" />
            <label class="form-label" id="passwordConfirmLabel">password confirm</label>
            <div id="passwordConfirmCorrectDiv" class="valid-feedback">Same!</div>
            <div id="passwordConfirmErrorDiv" class="invalid-feedback"></div>
          </div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Set New Password</button>
            </div>

            <div id="forgetPasswordFormErrorDiv" class="error row d-flex justify-content-center"></div>

            <!-- Register buttons -->
            <div class="text-center">
              <p>Already a member? <a href="/user/login">Login</a></p>
            </div>
        </form>
      </div>

    </div>

  </div>

</div>

<script src="/js/forgetPassword.js"></script>