<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="/">
        <img src="/images/logo.png" height="20" alt="" loading="lazy" style="margin-top: -1px;" />
      </a>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/" style="color: var(--stevensRed); font-weight: bold;">StevensMarketPlace</a>
          </li>
        </ul>
        <!-- Left links -->

        <div class="d-flex align-items-center">

          <a class="btn btn-dark px-3"
            href="https://github.com/liaoyufu-leo/StevensMarketPlace_CS_546_Group16_FinalProject" role="button">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>

<main class="container">
  <div class="row">

    <div class="col-md-6 border-end">
      <h2 class="border-bottom">Hello! <br> This is the Stevens MarketPlace</h2>
      <p id="projectDescription">
        This website acts as a Marketplace for Stevens Institute of Technology. People at Stevens Institute of
        Technology
        will be able to buy and sell the commodities of their wish. Users who want to sell the items will be able to
        post
        them on the site, and other users will be able to view the posted commodities and buy them if interested.
        <br>
        This application mainly helps students at Stevens Institute of Technology. A considerable percentage of
        students
        rely on unknown sellers to buy the commodities, and this application allows students to overcome this
        disadvantage.
        Additionally, numerous students are graduating every year, and new students join Steven’s; this application
        might
        help pass out students to sell the commodities and incoming students to buy them.
      </p>
    </div>

    <div class="col-md-6">
      <div class="container-fluid mt-3">

        <h1 class="row d-flex justify-content-center">Login</h1>

        <form action="/user/login" method="POST" id="loginForm" class="needs-validation" novalidate>
          <div id="accountDiv" class="form-outline mb-4">
            <input type="text" name="account" id="accountInput" class="form-control" required />
            <label class="form-label" id="accountLabel">Account</label>
            <div id="accountErrorDiv" class="invalid-feedback"></div>
          </div>

          <div id="passwordDiv" class="form-outline mb-4">
            <input type="password" name="password" id="passwordInput" class="form-control" />
            <label class="form-label" id="passwordLabel">Password</label>
            <div id="passwordErrorDiv" class="invalid-feedback"></div>
          </div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
            </div>

            <div class="col justify-content-center">
              <!-- Simple link -->
              <a class="mb-4" href="/user/forgetPassword">Forgot password?</a>
            </div>
          </div>

          <div id="loginFormErrorDiv" class="error row d-flex justify-content-center"></div>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="/user/signup">Register</a></p>
          </div>
        </form>
      </div>

    </div>

  </div>

</main>

<footer id="footer" class="text-white text-center text-lg-start"
  style="background-color: var(--stevensRed);font-size: small;">
  <!-- Grid container -->
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6">
        <h6 class="text-uppercase">Footer Content</h6>
        <p>
          Enjoy our market!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 offset-md-2">
        <h6 class="text-uppercase">Contributors Github</h6>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://github.com/adityajayadevan" class="text-white">Aditya Jayadevan Menon</a>
          </li>
          <li>
            <a href="https://github.com/Balakishore18" class="text-white">Balakishore Kongara</a>
          </li>
          <li>
            <a href="https://github.com/gandhiyaash" class="text-white">Yash Gandhi</a>
          </li>
          <li>
            <a href="https://github.com/liaoyufu-leo" class="text-white">YuFu Liao</a>
          </li>
          <li>
            <a href="https://github.com/venkatsaik" class="text-white">Venkat Sai Kusumurthy</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center" style="background-color: var(--stevensRed);font-size: small;">
    © 2021 Copyright:
    <a class="text-white" href="https://github.com/liaoyufu-leo/StevensMarketPlace_CS_546_Group16_FinalProject">Stevens
      Institute of
      Technology CS 546 Web Programming
      Groupt 16</a>
  </div>
  <!-- Copyright -->
</footer>

<script src="/js/login.js"></script>

