<article>
  <header>
    <h2>sign up</h2>
  </header>

  {{#if error}}
  <div id="signup-error" class="error">
    <h3>Error: {{ error }}</h3>
    
  </div>
  {{/if}}

  <form id="signup-form" action="/signup" method="post">
    <table class="signup">
      <tr>
        <td><label for="username">Username:</label></td>
        <td><input type="text" name="username" id="username"></td>
        <td></td>
      </tr>

      <tr>
        <td><label for="password">Password:</label></td>
        <td><input type="password" name="password" id="password"></td>
        <td><input type="submit" value="Submit"></td>
      </tr>
    </table>
  </form>

  <footer>
        <a href="/login">Have an account? login</a>
  </footer>

</article>