<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="/">
        <img src="/images/logo.png" height="20" alt="" loading="lazy" style="margin-top: -1px;" />
      </a>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/" style="color: var(--stevensRed); font-weight: bold;">StevensMarketPlace</a>
          </li>
        </ul>
        <!-- Left links -->

        <div class="d-flex align-items-center">

          <a class="btn btn-dark px-3"
            href="https://github.com/liaoyufu-leo/StevensMarketPlace_CS_546_Group16_FinalProject" role="button">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>

<main class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="container-fluid col-md-6 mt-3">

        <h1 class="row d-flex justify-content-center">Signup</h1>

        <form action="/user/signup" method="POST" id="signupForm" class="needs-validation" novalidate>
          <div id="accountDiv" class="form-outline mb-4">
            <input type="text" name="account" id="accountInput" class="form-control" required />
            <label class="form-label" id="accountLabel">account</label>
            <div id="accountErrorDiv" class="invalid-feedback"></div>
          </div>

          <div id="nicknameDiv" class="form-outline mb-4">
            <input type="text" name="nickname" id="nicknameInput" class="form-control" required />
            <label class="form-label" id="nicknameLabel">nickname</label>
            <div id="nicknameErrorDiv" class="invalid-feedback"></div>
          </div>

          <div id="passwordDiv" class="form-outline mb-4">
            <input type="password" name="password" id="passwordInput" class="form-control" />
            <label class="form-label" id="passwordLabel">password</label>
            <div id="passwordErrorDiv" class="invalid-feedback"></div>
          </div>

          <div id="passwordConfirmDiv" class="form-outline mb-4">
            <input type="password" name="passwordConfirm" id="passwordConfirmInput" class="form-control" />
            <label class="form-label" id="passwordConfirmLabel">password confirme</label>
            <div id="passwordConfirmCorrectDiv" class="valid-feedback">Same!</div>
            <div id="passwordConfirmErrorDiv" class="invalid-feedback"></div>
          </div>

          <div id="genderDiv" class="form-outline mb-4">
            <input type="text" class="form-control" hidden value="   " />
            <select class="form-select border-0" name="gender" id="genderInput">
              <option value="male" selected>male</option>
              <option value="female">female</option>
              <option value="other">other</option>
            </select>
            <label class="form-label" id="denderLabel">gender</label>
            <div id="genderErrorDiv" class="invalid-feedback"></div>
          </div>

          <p>Address</p>

          <div class="row mb-4">

            <div class="col">
              <div id="streetDiv" class="form-outline">
                <input type="text" name="street" id="streetInput" class="form-control" value="123 st." required />
                <label class="form-label" id="streetLabel">street</label>
                <div id="streetErrorDiv" class="invalid-feedback margin-auto"></div>
              </div>
            </div>

            <div class="col">
              <div id="aptDiv" class="form-outline">
                <input type="text" name="apt" id="aptInput" class="form-control" value="Apt 123w" required />
                <label class="form-label" id="aptLabel">apt</label>
                <div id="aptErrorDiv" class="invalid-feedback"></div>
              </div>
            </div>

          </div>

          <div class="row mb-4">

            <div class="col d-flex justify-content-center">
              <div id="cityDiv" class="form-outline">
                <input type="text" name="city" id="cityInput" class="form-control" value="Hoboken" required />
                <label class="form-label" id="cityLabel">city</label>
                <div id="cityErrorDiv" class="invalid-feedback"></div>
              </div>
            </div>

            <div class="col d-flex justify-content-center">
              <div id="stateDiv" class="form-outline">
                <input type="text" name="state" id="stateInput" class="form-control" value="New Jersey" required />
                <label class="form-label" id="stateLabel">state</label>
                <div id="stateErrorDiv" class="invalid-feedback"></div>
              </div>
            </div>

            <div class="col d-flex justify-content-center">
              <div id="zipCodeDiv" class="form-outline">
                <input type="text" name="zipCode" id="zipCodeInput" class="form-control" value="07030" required />
                <label class="form-label" id="zipCodeLabel">zipCode</label>
                <div id="zipCodeErrorDiv" class="invalid-feedback"></div>
              </div>
            </div>

          </div>

          <div id="addressFormErrorDiv" class="error"></div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">signup</button>
            </div>

            <div id="signupFormErrorDiv" class="error row d-flex justify-content-center"></div>

            <!-- Register buttons -->
            <div class="text-center">
              <p>Already a member? <a href="/user/login">Login</a></p>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>

</main>

<footer id="footer" class="text-white text-center text-lg-start"
  style="background-color: var(--stevensRed);font-size: small;">
  <!-- Grid container -->
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6">
        <h6 class="text-uppercase">Footer Content</h6>
        <p>
          Enjoy our market!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 offset-md-2">
        <h6 class="text-uppercase">Contributors Github</h6>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://github.com/adityajayadevan" class="text-white">Aditya Jayadevan Menon</a>
          </li>
          <li>
            <a href="https://github.com/Balakishore18" class="text-white">Balakishore Kongara</a>
          </li>
          <li>
            <a href="https://github.com/gandhiyaash" class="text-white">Yash Gandhi</a>
          </li>
          <li>
            <a href="https://github.com/liaoyufu-leo" class="text-white">YuFu Liao</a>
          </li>
          <li>
            <a href="https://github.com/venkatsaik" class="text-white">Venkat Sai Kusumurthy</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center" style="background-color: var(--stevensRed);font-size: small;">
    © 2021 Copyright:
    <a class="text-white" href="https://github.com/liaoyufu-leo/StevensMarketPlace_CS_546_Group16_FinalProject">Stevens
      Institute of
      Technology CS 546 Web Programming
      Groupt 16</a>
  </div>
  <!-- Copyright -->
</footer>

<script src="/js/signup.js"></script>

