<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div id="content" class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        </div>
    </div>
</main>

<script src="/js/stevensMarketPlace.js"></script>