<div class="jumbotron">
    <div class="text-center">
            <h1 class="display-4">Hello {{user.account}}</h1>
  <p class="lead">This is your profile : </p>
  <ol>
    <p class = "nickname"> {{user.nickname}}</p>
    <p class = "gender">{{user.gender}}</p>
    <div class="text-center">
            <p>Wanna go back to the landing page?? <a href="/stevensMarketPlace">Goback</a></p>
          </div>
  </ol>
</div>